{% extends "base.html" %}
{% block content %}

    <script>
        var moments = {{ moments_data|safe }};
//console.log(moments);
    </script>
    <button id='zoom-fit'>Zoom to Fit</button>
    <h1>Showing Moments for {{username}}</h1>
	<div class="map" id="map"></div>
{% endblock %}
<!--
1. authenticate w/instagram
    a. Create user to match - User model
2. fetch recent photos
3. store them in db - Photo model
4. Load map with user's photos.

Cool stuff:
-Manually add photos by clicking the map and uploading a photo
-Timeline with graph of photo quantity x date.
-Date slider to filter photos
-->