{% extends "base.html" %}
{% block content %}
    
    <div id="slideshow">
    <button class='slideshow-hide'>Return to map</button>
    <button class='slideshow-play-pause'>Pause</button>
    <button class='slideshow-previous'>Previous</button>
    <button class='slideshow-next'>Next</button>

        <div class='slide-info'>
            <div class='slide-name'></div>
            <div class='slide-date'></div>
            <div class='slide-caption'></div>
        </div>
    </div>

    <script>
        var moments = {{ moments_data|safe }};
        var tags = {{ tags|safe }};
        tag_filter = "{{ tag_filter|safe }}";
        tag_filter_name = "{{ tag_filter_name|safe }}";
    ///TODO: Make the date slider change the url, etc.
    //Suggest popular tags (show top 5 in a list)

//console.log(moments);
    </script>
    
    {% if username %}
        <button id='zoom-fit'>Zoom to Fit</button>
        <button class='slideshow-start'>Slideshow</button>
        <div><strong>Showing Moments for: {{username}}</strong></div>
        <div class='date-filter'></div>
        <form class='map-form' action="#">
            <input class='tag-filter' value='{{ tag_filter_name|safe }} ' />
            <input type='submit' class='tag-filter-submit' value='Filter' />
            <button class='tag-filter-clear'>Clear</button>
        </form>
    {% endif %}
    
	<div class="map" id="map"></div>
{% endblock %}

<!-- TODO
1. authenticate w/instagram - DONE
    a. Create user to match - User model - YAGNE
2. fetch recent photos - DONE
3. store them in db - Photo model - DONE
4. Load map with user's photos. - DONE
5. Fetch recent photos once next_max_id is super old... - DONE (realtime API)

***http://blog.pamelafox.org/2012/04/converting-addresses-to-timezones-in.html
6. Store created_time with local timezone based on where the photo was taken.
7. Handle Videos!

Cool stuff:
-Manually add photos by clicking the map and uploading a photo
-Timeline with graph of photo quantity x date.
-Date slider to filter photos
-Slideshow
-->