{% extends "base.html" %}
{% load static %}
{% load map_tags %}
{% block content %}
    
    <div id="slideshow">
        <i class="slideshow-hide glyphicon glyphicon-remove"></i>
        <i class='slideshow-play-pause glyphicon glyphicon-pause'></i>
        <i class='slideshow-previous glyphicon glyphicon-chevron-left'></i>
        <i class='slideshow-next glyphicon glyphicon-chevron-right'></i>

        <div class='slide-info'>
            <div class='slide-name'></div>
            <div class='slide-date'></div>
            <div class='slide-caption'></div>
        </div>
    </div>

    <script>
        var moments = {{ moments_data|safe }};
        {% if tags %}
            var tags = {{ tags|safe }};
        {% else %}
            var tags = null;
        {% endif %}
        tag_filter = "{{ tag_filter|safe }}";
        tag_filter_name = "{{ tag_filter_name|safe }}";
    ///TODO: Make the date slider change the url, etc.
    //Suggest popular tags (show top 5 in a list)

//console.log(moments);
    </script>
    
    {% if username %}
        <div>
            <!--<strong>Showing Moments for: <span id='username'>{{username}}</span></strong><br />-->
            
            <div class='share-popup modal fade' role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">Share Moments</h4>
                      </div>
                      <div class="modal-body">
                        Send this URL to friends to share these moments.
                        <div class='share-url'></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    
    <div class="container-fluid ui-wrap">
        <div class="mapbox row {% if user and user.is_anonymous and not username %}logged-out{% endif %}" {% if user and user.is_anonymous and not username %}style="background-image: url({% static 'img/moment_mapper_sample.png' %})"{% endif %}>
            
            {% if user and user.is_anonymous and not username %}
                <div class="row-fluid overlay intro">
                    <div class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1'>
                        <p>Moment Mapper is a convenient way to share moments and memories from your travels.  Just log in with Instagram to begin exploring your photos.  Any location enabled photos will appear on the map.  You can filter by date range or tag.  Share your moments with friends and family without the need for them to have an Instagram account.</p>
                        <a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-block btn-social btn-instagram login">
                            <i class="fa fa-instagram"></i> Sign in with Instagram
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="map row-fluid" id="map"></div>
                <div class="row-fluid overlay map-controls">
                    <div class='col-md-9'>
                        <div class='row-fluid'>
                            <form class='map-form' action="#">
                                <div class="input-group col-md-5" style='float: left;'>
                                    <input type="search" class='form-control tag-filter' placeholder='Search by tag' {% if tag_filter_name %} value='{{ tag_filter_name|safe }}' {% endif %} />
                                    <span class="input-group-btn">
                                        <button class="glyphicon glyphicon-search btn btn-default tag-filter-submit" type="button"></button>
                                    </span>
                                    <span class='input-group-btn'>
                                        <button class='tag-filter-clear btn btn-default'><i class='glyphicon glyphicon-remove'></i></button>
                                    </span>
                                </div>                                
                            </form>
                        </div>
                        <div class="left-inner-addon" style='clear: both;'>
                            <i class="glyphicon glyphicon-globe"></i>
                            <button class='zoom-fit btn btn-default'>Zoom to Fit</button>
                        </div>
                        
                        <div class="left-inner-addon pull-left">
                            <i class="glyphicon glyphicon-film"></i>
                            <button class='slideshow-start btn btn-default'>Slideshow</button>
                        </div>
                        <div class="left-inner-addon">
                             <i class="glyphicon glyphicon-share"></i>
                            <button class='share-moments btn btn-default'>Share Moments</button>
                        </div>
                    </div>
                    
                    <div class='col-md-3'>
                        {% if username and user and user.is_anonymous %}
                            <a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-block btn-social btn-instagram login">
                                <i class="fa fa-instagram"></i> Sign in with Instagram
                            </a>
                        {% else %}
                            <strong> Welcome {% social_name user %}</strong> | <a href="{% url 'auth_logout' %}" class='btn btn-default'>Logout</a><br /><span class='notice'>Note: Past photos will fill in over time.  The more photos you have, the longer it will take.</span>
                        {% endif %}
                    </div>
                        
                    </div>
                </div>
                <!--<canvas id="myChart" width="400" height="400"></canvas>-->
                <div class='date-filter'></div>
            {% endif %}
        </div>
    </div>
	
{% endblock %}

<!-- TODO
1. authenticate w/instagram - DONE
    a. Create user to match - User model - YAGNE
2. fetch recent photos - DONE
3. store them in db - Photo model - DONE
4. Load map with user's photos. - DONE
5. Fetch recent photos once next_max_id is super old... - DONE (realtime API)

***http://blog.pamelafox.org/2012/04/converting-addresses-to-timezones-in.html
6. Store created_time with local timezone based on where the photo was taken.
7. Handle Videos!

Cool stuff:
-Manually add photos by clicking the map and uploading a photo
-Timeline with graph of photo quantity x date.
-Date slider to filter photos - DONE
-Slideshow - DONE
-->