html {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
body {
    background-color: #b5d0d0;
    color: #000;
    width: 100%;
    height: 100%;
    /*margin: 10px auto;*/
}
a {
    /*color: #000;*/
}
.login {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
}

.ui-wrap {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    /*max-width: 1200px;
    max-height: 600px;*/
    /*min-width: 1000px;
    min-height: 400px;*/
}
.mapbox {
    height: 85%;
}

.mapbox.logged-out {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 100%;
    padding-top: 16 %;
}
/*.intro {
    /*margin: 0 auto;*/
    /*text-align: justify;*/
/*    padding-bottom: 20px;
}*/

@media screen and (max-width:599px) {
    .intro {
        font-size: 14px;
    }
    #slideshow {
        font-size: 16px;
    }
}

img.map-placeholder {
   width: 100%; 
}

.map-form {
    display: inline;
}

/*.slideshow-start, .share-moments {
    font-weight: bold;
}*/

.map-controls {
    margin-left: 30px;
    margin-top: 10px;
}

.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.notice {
    font-style: italic;
    font-size: 12px;
    line-height: 10px;
}
/*.mapbox .overlay .btn {
    pointer-events: initial;
}*/

#slideshow {
    z-index: 999999999;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    font-size: 14px;
    text-align: center;
}
#slideshow i {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 2px 0px 2px;
    cursor: pointer;
}
#slideshow i:hover {
    background-color: #DDD;
}
.slide-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
button {
    font-size: 14px;
}
.popup {
    color: black;
    text-align: center;
    font-size: 10px;
}
.popup .date {
    
}
.popup .caption {
    font-size: 12px;
    margin: 5px auto;
}
.popup .name {
    /*margin: 5px auto;*/
}
.popup .details {
    /*margin-bottom : 5px;*/
}
.date-filter {
    margin: 30px 50px 30px 50px;
}
.tag-filter {
    margin-left: 0px;
}
.share-url {
    font-size: 18px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input, .left-inner-addon button {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
}