{% load static %}
{% load map_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Mapper</title>        
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "js/vendor/LeafletMarkerCluster/MarkerCluster.Default.css" %}">
        <link rel="stylesheet" href="{% static 'js/vendor/Leaflet/leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/LeafletMarkerCluster/MarkerCluster.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/LeafletMarkerCluster/MarkerCluster.Default.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/classic-slider.css' %}">
        
    </head>
    
    <body>      
        <!--[if lte IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% if user and not user.is_anonymous and not user.is_superuser %}
            <!--{{ photos|safe }}-->
            Welcome {% social_name user %}
            <br />
            <a href="{% url 'auth_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'socialauth_begin' 'instagram' %}">Login with Instagram</a>        
        {% endif %}        

        {% block content %}
    
        {% endblock %}
        
        <script src="{% static 'js/vendor/Leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/vendor/LeafletMarkerCluster/leaflet.markercluster.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-ui/jQDateRangeSlider-min.js' %}"></script>
        <script src="{% static 'js/vendor/history/html4+html5/jquery.history.js' %}"></script>
    
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/mapper.js' %}"></script>
    </body>
</html>
