body {
    background-color: #333;
    color: #FFF;
    width: 100%;
    height: 100%;
}
a {
    color: #FFF;
}

#map {
    width: 80%;
    height: 70%;
    max-width: 1000px;
    max-height: 600px;
    border: 1px solid red;
}

.popup {
    color: black;
    text-align: center;
}